USE [master]
GO
/****** Object:  Database [BelliniClasses-33]    Script Date: 2/19/2026 12:55:06 PM ******/
CREATE DATABASE [BelliniClasses-33]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BelliniClasses-33', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BelliniClasses-33.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BelliniClasses-33_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BelliniClasses-33_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BelliniClasses-33].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BelliniClasses-33]
GO
/****** Object:  Table [dbo].[ClassSections]    Script Date: 2/19/2026 12:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassSections](
	[SectionID] [nvarchar](50) NOT NULL,
	[TermCode] [int] NOT NULL,
	[CRN] [int] NOT NULL,
	[CourseID] [nvarchar](50) NOT NULL,
	[SectionNumber] [int] NOT NULL,
	[InstructorEmail] [nvarchar](50) NULL,
 CONSTRAINT [PK_ClassSections] PRIMARY KEY CLUSTERED 
(
	[SectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CoursePrerequisites]    Script Date: 2/19/2026 12:55:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoursePrerequisites](
	[CourseID] [nvarchar](50) NOT NULL,
	[PrereqCourseID] [nvarchar](50) NOT NULL,
	[CourseRequirementType] [nvarchar](50) NOT NULL,
	[Explanation] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_CoursePrerequisites] PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC,
	[PrereqCourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 2/19/2026 12:55:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseID] [nvarchar](50) NOT NULL,
	[Subject] [nvarchar](50) NOT NULL,
	[CourseNumber] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](100) NULL,
	[Credits] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DegreePrograms]    Script Date: 2/19/2026 12:55:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DegreePrograms](
	[ProgramID] [nvarchar](50) NOT NULL,
	[ProgramName] [nvarchar](100) NOT NULL,
	[DegreeLevel] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DegreePrograms] PRIMARY KEY CLUSTERED 
(
	[ProgramID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instructors]    Script Date: 2/19/2026 12:55:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructors](
	[InstructorEmail] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](100) NULL,
	[OfficeLocation] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
 CONSTRAINT [PK_Instructors] PRIMARY KEY CLUSTERED 
(
	[InstructorEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OfficeHours]    Script Date: 2/19/2026 12:55:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OfficeHours](
	[OfficeHourID] [int] NOT NULL,
	[InstructorEmail] [nvarchar](50) NOT NULL,
	[DayOfWeek] [nvarchar](50) NULL,
	[StartTime] [time](7) NULL,
	[EndTime] [time](7) NULL,
	[MeetingType] [nvarchar](50) NULL,
	[Notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_OfficeHours] PRIMARY KEY CLUSTERED 
(
	[OfficeHourID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProgramRequirements]    Script Date: 2/19/2026 12:55:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgramRequirements](
	[ProgramID] [nvarchar](50) NOT NULL,
	[CourseID] [nvarchar](50) NOT NULL,
	[ProgramRequirementType] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ProgramRequirements] PRIMARY KEY CLUSTERED 
(
	[ProgramID] ASC,
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SectionMeetings]    Script Date: 2/19/2026 12:55:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SectionMeetings](
	[MeetingID] [int] NOT NULL,
	[SectionID] [nvarchar](50) NOT NULL,
	[DayOfWeek] [nvarchar](50) NULL,
	[StartTime] [time](7) NULL,
	[EndTime] [time](7) NULL,
	[Room] [nvarchar](50) NULL,
 CONSTRAINT [PK_SectionMeetings] PRIMARY KEY CLUSTERED 
(
	[MeetingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SectionStaffing]    Script Date: 2/19/2026 12:55:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SectionStaffing](
	[SectionID] [nvarchar](50) NOT NULL,
	[TAEmail] [nvarchar](50) NOT NULL,
	[TAType] [nvarchar](50) NULL,
	[Hours] [int] NULL,
 CONSTRAINT [PK_SectionStaffing] PRIMARY KEY CLUSTERED 
(
	[SectionID] ASC,
	[TAEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeachingAssistants]    Script Date: 2/19/2026 12:55:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeachingAssistants](
	[TAEmail] [nvarchar](50) NOT NULL,
	[TAName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TeachingAssistants] PRIMARY KEY CLUSTERED 
(
	[TAEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Terms]    Script Date: 2/19/2026 12:55:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Terms](
	[TermCode] [int] NOT NULL,
	[Semester] [nvarchar](50) NOT NULL,
	[Year] [int] NOT NULL,
 CONSTRAINT [PK_Terms] PRIMARY KEY CLUSTERED 
(
	[TermCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ClassSections] ([SectionID], [TermCode], [CRN], [CourseID], [SectionNumber], [InstructorEmail]) VALUES (N'202201-10632', 202201, 10632, N'CDA3201', 1, N'hjeanty@usf.edu')
INSERT [dbo].[ClassSections] ([SectionID], [TermCode], [CRN], [CourseID], [SectionNumber], [InstructorEmail]) VALUES (N'202201-10633', 202201, 10633, N'CDA3201L', 1, N'hjeanty@usf.edu')
INSERT [dbo].[ClassSections] ([SectionID], [TermCode], [CRN], [CourseID], [SectionNumber], [InstructorEmail]) VALUES (N'202201-10634', 202201, 10634, N'CDA3201L', 2, N'hjeanty@usf.edu')
GO
INSERT [dbo].[CoursePrerequisites] ([CourseID], [PrereqCourseID], [CourseRequirementType], [Explanation]) VALUES (N'CAI4002', N'CDA3103', N'Prereq', N'Introduction to Artificial Intelligence also requires Computer Organization (min grade B)')
INSERT [dbo].[CoursePrerequisites] ([CourseID], [PrereqCourseID], [CourseRequirementType], [Explanation]) VALUES (N'CAI4002', N'COP3514', N'Prereq', N'Introduction to Artificial Intelligence requires Program Design (min grade B)')
INSERT [dbo].[CoursePrerequisites] ([CourseID], [PrereqCourseID], [CourseRequirementType], [Explanation]) VALUES (N'CAI4105', N'CAI4002', N'Prereq', N'Introduction to Machine Learning requires Introduction to Artificial Intelligence  (min grade C)')
GO
INSERT [dbo].[Courses] ([CourseID], [Subject], [CourseNumber], [Title], [Credits], [Description]) VALUES (N'CAI4002', N'CAI ', N'4002', N'Introduction to Artificial Intelligence ', N'3', N'Introduction to Artificial Intelligence covers basic concepts, tools, and techniques used to produce artificial intelligence. Basic machine learning concepts. Use of different software tools for searching, reasoning and learning.')
INSERT [dbo].[Courses] ([CourseID], [Subject], [CourseNumber], [Title], [Credits], [Description]) VALUES (N'CAI4105', N'CAI ', N'4105', N'Introduction to Machine Learning ', N'3', N'This course introduces students to machine learning concepts, methods, tools, and applications. Topics include unsupervised learning, supervised learning, reinforcement learning, and deep learning while presenting good practices, proper model evaluation, and ethical considerations.')
INSERT [dbo].[Courses] ([CourseID], [Subject], [CourseNumber], [Title], [Credits], [Description]) VALUES (N'CAI4841', N'CAI ', N'4841', N'Computer Vision ', N'3', N'Introduction to topics such as image formation, segmentation, feature extraction, matching, shape recovery, texture analysis, object recognition, and dynamic scene analysis.')
GO
INSERT [dbo].[DegreePrograms] ([ProgramID], [ProgramName], [DegreeLevel]) VALUES (N'BSAI', N'Bachelor of Science in Artificial Intelligence', N'BS')
INSERT [dbo].[DegreePrograms] ([ProgramID], [ProgramName], [DegreeLevel]) VALUES (N'BSCP', N'Bachelor of Science in Computer Engineering', N'BS')
INSERT [dbo].[DegreePrograms] ([ProgramID], [ProgramName], [DegreeLevel]) VALUES (N'BSCS', N'Bachelor of Science in Computer Science', N'BS')
GO
INSERT [dbo].[Instructors] ([InstructorEmail], [Name], [Title], [OfficeLocation], [Phone]) VALUES (N'akabir@usf.edu', N'Anowarul Kabir', N'Assistant Professor', N'ENB 327', NULL)
INSERT [dbo].[Instructors] ([InstructorEmail], [Name], [Title], [OfficeLocation], [Phone]) VALUES (N'akholloman@usf.edu', N'Amanda Holloman', N'Asst Professor of Instruction', N'ENB 343M', N'813-396-0602')
INSERT [dbo].[Instructors] ([InstructorEmail], [Name], [Title], [OfficeLocation], [Phone]) VALUES (N'alessio@usf.edu', N'Alessio Gaspar', N'Associate Professor', N'ENB 343E', N'813-974-2932')
GO
INSERT [dbo].[OfficeHours] ([OfficeHourID], [InstructorEmail], [DayOfWeek], [StartTime], [EndTime], [MeetingType], [Notes]) VALUES (1, N'akabir@usf.edu', N'Monday', CAST(N'14:00:00' AS Time), CAST(N'15:00:00' AS Time), N'In Person', N'ENB 327 ')
INSERT [dbo].[OfficeHours] ([OfficeHourID], [InstructorEmail], [DayOfWeek], [StartTime], [EndTime], [MeetingType], [Notes]) VALUES (2, N'akabir@usf.edu', N'Tuesday', CAST(N'15:30:00' AS Time), CAST(N'16:30:00' AS Time), N'In Person', N'ENB 327 ')
INSERT [dbo].[OfficeHours] ([OfficeHourID], [InstructorEmail], [DayOfWeek], [StartTime], [EndTime], [MeetingType], [Notes]) VALUES (3, N'akabir@usf.edu', N'Thursday', CAST(N'15:30:00' AS Time), CAST(N'16:30:00' AS Time), N'In Person', N'ENB 327 ')
GO
INSERT [dbo].[ProgramRequirements] ([ProgramID], [CourseID], [ProgramRequirementType]) VALUES (N'BSAI', N'CAI4002', N'Core')
INSERT [dbo].[ProgramRequirements] ([ProgramID], [CourseID], [ProgramRequirementType]) VALUES (N'BSAI', N'CAI4105', N'Core')
INSERT [dbo].[ProgramRequirements] ([ProgramID], [CourseID], [ProgramRequirementType]) VALUES (N'BSAI', N'CAI4841', N'Elective')
GO
INSERT [dbo].[SectionMeetings] ([MeetingID], [SectionID], [DayOfWeek], [StartTime], [EndTime], [Room]) VALUES (1, N'202501-15533', N'Friday', CAST(N'11:00:00' AS Time), CAST(N'13:45:00' AS Time), N'CWY 107')
INSERT [dbo].[SectionMeetings] ([MeetingID], [SectionID], [DayOfWeek], [StartTime], [EndTime], [Room]) VALUES (2, N'202501-15509', N'Monday', CAST(N'12:30:00' AS Time), CAST(N'13:45:00' AS Time), N'CMC 141')
INSERT [dbo].[SectionMeetings] ([MeetingID], [SectionID], [DayOfWeek], [StartTime], [EndTime], [Room]) VALUES (3, N'202501-15509', N'Wednesday', CAST(N'12:30:00' AS Time), CAST(N'13:45:00' AS Time), N'CMC 141')
GO
INSERT [dbo].[SectionStaffing] ([SectionID], [TAEmail], [TAType], [Hours]) VALUES (N'202408-92372', N'bnadimi@usf.edu', N'Grad', 10)
INSERT [dbo].[SectionStaffing] ([SectionID], [TAEmail], [TAType], [Hours]) VALUES (N'202408-92502', N'adekunmi@usf.edu', N'UG', 10)
INSERT [dbo].[SectionStaffing] ([SectionID], [TAEmail], [TAType], [Hours]) VALUES (N'202408-92502', N'avn253@usf.edu', N'UG', 10)
GO
INSERT [dbo].[TeachingAssistants] ([TAEmail], [TAName]) VALUES (N'aanisha@usf.edu', N'Alabi Anisha')
INSERT [dbo].[TeachingAssistants] ([TAEmail], [TAName]) VALUES (N'aasthaj@usf.edu', N'Aastha Jakasania')
INSERT [dbo].[TeachingAssistants] ([TAEmail], [TAName]) VALUES (N'aasthasharma@usf.edu', N'Aastha Sharma')
GO
INSERT [dbo].[Terms] ([TermCode], [Semester], [Year]) VALUES (202201, N'Spring', 2022)
INSERT [dbo].[Terms] ([TermCode], [Semester], [Year]) VALUES (202208, N'Fall', 2022)
INSERT [dbo].[Terms] ([TermCode], [Semester], [Year]) VALUES (202301, N'Spring', 2023)
GO
ALTER TABLE [dbo].[ClassSections]  WITH CHECK ADD  CONSTRAINT [FK_ClassSections_Courses] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[ClassSections] CHECK CONSTRAINT [FK_ClassSections_Courses]
GO
ALTER TABLE [dbo].[ClassSections]  WITH CHECK ADD  CONSTRAINT [FK_ClassSections_Instructors] FOREIGN KEY([InstructorEmail])
REFERENCES [dbo].[Instructors] ([InstructorEmail])
GO
ALTER TABLE [dbo].[ClassSections] CHECK CONSTRAINT [FK_ClassSections_Instructors]
GO
ALTER TABLE [dbo].[ClassSections]  WITH CHECK ADD  CONSTRAINT [FK_ClassSections_Terms] FOREIGN KEY([TermCode])
REFERENCES [dbo].[Terms] ([TermCode])
GO
ALTER TABLE [dbo].[ClassSections] CHECK CONSTRAINT [FK_ClassSections_Terms]
GO
ALTER TABLE [dbo].[CoursePrerequisites]  WITH CHECK ADD  CONSTRAINT [FK_CoursePre_Course] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[CoursePrerequisites] CHECK CONSTRAINT [FK_CoursePre_Course]
GO
ALTER TABLE [dbo].[CoursePrerequisites]  WITH CHECK ADD  CONSTRAINT [FK_CoursePre_Prereq] FOREIGN KEY([PrereqCourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[CoursePrerequisites] CHECK CONSTRAINT [FK_CoursePre_Prereq]
GO
ALTER TABLE [dbo].[OfficeHours]  WITH CHECK ADD  CONSTRAINT [FK_OfficeHours_Instructors] FOREIGN KEY([InstructorEmail])
REFERENCES [dbo].[Instructors] ([InstructorEmail])
GO
ALTER TABLE [dbo].[OfficeHours] CHECK CONSTRAINT [FK_OfficeHours_Instructors]
GO
ALTER TABLE [dbo].[ProgramRequirements]  WITH CHECK ADD  CONSTRAINT [FK_ProgReq_Course] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[ProgramRequirements] CHECK CONSTRAINT [FK_ProgReq_Course]
GO
ALTER TABLE [dbo].[ProgramRequirements]  WITH CHECK ADD  CONSTRAINT [FK_ProgReq_Program] FOREIGN KEY([ProgramID])
REFERENCES [dbo].[DegreePrograms] ([ProgramID])
GO
ALTER TABLE [dbo].[ProgramRequirements] CHECK CONSTRAINT [FK_ProgReq_Program]
GO
ALTER TABLE [dbo].[SectionMeetings]  WITH CHECK ADD  CONSTRAINT [FK_SectionMeetings_ClassSections] FOREIGN KEY([SectionID])
REFERENCES [dbo].[ClassSections] ([SectionID])
GO
ALTER TABLE [dbo].[SectionMeetings] CHECK CONSTRAINT [FK_SectionMeetings_ClassSections]
GO
ALTER TABLE [dbo].[SectionStaffing]  WITH CHECK ADD  CONSTRAINT [FK_Staffing_Section] FOREIGN KEY([SectionID])
REFERENCES [dbo].[ClassSections] ([SectionID])
GO
ALTER TABLE [dbo].[SectionStaffing] CHECK CONSTRAINT [FK_Staffing_Section]
GO
ALTER TABLE [dbo].[SectionStaffing]  WITH CHECK ADD  CONSTRAINT [FK_Staffing_TA] FOREIGN KEY([TAEmail])
REFERENCES [dbo].[TeachingAssistants] ([TAEmail])
GO
ALTER TABLE [dbo].[SectionStaffing] CHECK CONSTRAINT [FK_Staffing_TA]
GO
USE [master]
GO
